.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
/** Easy Media Queries **/
/** BS3 Variable Overrides Only **/
.forum-partials {
  /* http://bootsnipp.com/snippets/featured/styled-post */
}
.forum-partials.thread-row {
  margin-bottom: 3px;
}
@media only screen and (max-width: 991px) {
  .forum-partials.thread-row > .avatar {
    display: none !important;
  }
}
.forum-partials.thread-row > .info {
  float: left;
  width: 83.33333333%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  .forum-partials.thread-row > .info {
    float: left;
    width: 66.66666667%;
  }
}
.forum-partials.thread-row > .replies {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (max-width: 767px) {
  .forum-partials.thread-row .row > a {
    display: none !important;
  }
}
.forum-partials.thread-row a:hover,
.forum-partials.thread-row a:active,
.forum-partials.thread-row a.active {
  text-decoration: none;
}
.forum-partials.thread-row a > .label {
  color: white;
  background-color: attr(data-label);
  padding: 0.3em 0.6em 0.3em;
  font-size: 85%;
}
.forum-partials.top-posters {
  margin-bottom: 3px;
}
.forum-partials.top-posters > .avatar {
  position: relative;
  float: left;
  width: 41.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.forum-partials.top-posters > .info {
  position: relative;
  float: left;
  width: 58.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.forum-partials.post-row {
  position: relative;
  border-radius: 0px;
  border: 1px solid #d8d8d8;
}
.forum-partials.post-row > .dropdown {
  position: absolute;
  top: 5px;
  right: 15px;
}
.forum-partials.post-row > .dropdown > span > span {
  font-size: 10px;
}
.forum-partials.post-row > .dropdown > .dropdown-menu {
  left: initial;
  right: 0px;
  border-radius: 2px;
}
.forum-partials.post-row > .panel-tags {
  position: absolute;
  top: 35px;
  right: -3px;
}
.forum-partials.post-row > .panel-tags > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.forum-partials.post-row > .panel-tags > ul:hover {
  box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
}
.forum-partials.post-row > .panel-tags > ul:hover > li {
  background-color: #ffffff;
}
.forum-partials.post-row > .panel-tags > ul > li {
  display: block;
  right: 0px;
  width: 0px;
  padding: 5px 0px 5px 0px;
  background-color: #f5f5f5;
  font-size: 12px;
  overflow: hidden;
}
.forum-partials.post-row > .panel-tags > ul > li:hover {
  background-color: #427fed;
  color: #ffffff;
}
.forum-partials.post-row > .panel-tags > ul > li::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  border-right: 3px solid #427fed;
}
.forum-partials.post-row > .panel-tags > ul:hover > li,
.forum-partials.post-row > .panel-tags > ul > li:first-child {
  padding: 5px 15px 5px 10px;
  width: auto;
  cursor: pointer;
  margin-left: auto;
}
.forum-partials.post-row > .panel-heading,
.forum-partials.post-row > .panel-footer {
  background-color: #ffffff;
  border-width: 0px;
}
.forum-partials.post-row > .panel-heading {
  margin-top: 20px;
  padding-bottom: 5px;
}
.forum-partials.post-row > .panel-heading > img {
  margin-right: 15px;
  height: 40px;
  width: 40px;
}
.forum-partials.post-row > .panel-heading > h3 {
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
}
.forum-partials.post-row > .panel-heading > h5 {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
}
.forum-partials.post-row > .panel-body {
  padding-top: 5px;
  font-size: 13px;
}
.forum-partials.post-row > .panel-body > .panel-image {
  display: block;
  text-align: center;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
}
.forum-partials.post-row > .panel-body > .panel-image > img {
  max-width: 100%;
}
.forum-partials .avatar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .forum-partials .avatar {
    float: left;
    width: 16.66666667%;
  }
}
.forum-partials .avatar > img {
  height: 54px;
  width: 54px;
}
